<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginChecker</servlet-name>
        <servlet-class>com.mba.manager.login.LoginChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainHandlerServlet</servlet-name>
        <servlet-class>com.mba.manager.main.MainHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemListGetter</servlet-name>
        <servlet-class>com.mba.manager.Item.ItemListGetter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemCategoryGetter</servlet-name>
        <servlet-class>com.mba.manager.Item.ItemCategoryGetter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Example</servlet-name>
        <servlet-class>Example</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.mba.manager.html.login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.mba.manager.html.login.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryAdder</servlet-name>
        <servlet-class>com.mba.manager.html.services.categorysalesanalysis.CSACategoryAdder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategorySalesAnalysisDaily</servlet-name>
        <servlet-class>com.mba.manager.html.services.categorysalesanalysis.CategorySalesAnalysisDaily</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategorySalesAnalysisMonthly</servlet-name>
        <servlet-class>com.mba.manager.html.services.categorysalesanalysis.CategorySalesAnalysisMonthly</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategorySalesAnalysisYearly</servlet-name>
        <servlet-class>com.mba.manager.html.services.categorysalesanalysis.CategorySalesAnalysisYearly</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PSACategoryAdder</servlet-name>
        <servlet-class>com.mba.manager.html.services.productsalesanalysis.PSACategoryAdder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PSAItemAdder</servlet-name>
        <servlet-class>com.mba.manager.html.services.productsalesanalysis.PSAItemAdder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSalesAnalysisDaily</servlet-name>
        <servlet-class>com.mba.manager.html.services.productsalesanalysis.ProductSalesAnalysisDaily</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSalesAnalysisMonthly</servlet-name>
        <servlet-class>com.mba.manager.html.services.productsalesanalysis.ProductSalesAnalysisMonthly</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSalesAnalysisYearly</servlet-name>
        <servlet-class>com.mba.manager.html.services.productsalesanalysis.ProductSalesAnalysisYearly</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueGeneratedDaily</servlet-name>
        <servlet-class>com.mba.manager.html.services.revenuegenerated.RevenueGeneratedDaily</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueGeneratedMonthly</servlet-name>
        <servlet-class>com.mba.manager.html.services.revenuegenerated.RevenueGeneratedMonthly</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueGeneratedYearly</servlet-name>
        <servlet-class>com.mba.manager.html.services.revenuegenerated.RevenueGeneratedYearly</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZeroSalesAnalysis</servlet-name>
        <servlet-class>com.mba.manager.html.services.zerosalesanalysis.ZeroSalesAnalysisDaily</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZeroSalesAnalysisTillDate</servlet-name>
        <servlet-class>com.mba.manager.html.services.zerosalesanalysis.ZeroSalesAnalysisTillDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeDeliveryAnalysisDaily</servlet-name>
        <servlet-class>com.mba.manager.html.services.homedeliveryanalysis.HomeDeliveryAnalysisDaily</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeDeliveryAnalysisMonthly</servlet-name>
        <servlet-class>com.mba.manager.html.services.homedeliveryanalysis.HomeDeliveryAnalysisMonthly</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeDeliveryAnalysisYearly</servlet-name>
        <servlet-class>com.mba.manager.html.services.homedeliveryanalysis.HomeDeliveryAnalysisYearly</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EDACategoryAdder</servlet-name>
        <servlet-class>com.mba.manager.html.services.expirydateanalysis.EDACategoryAdder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpiryDateAnalysisDays</servlet-name>
        <servlet-class>com.mba.manager.html.services.expirydateanalysis.ExpiryDateAnalysisDays</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpiryDateAnalysisMonths</servlet-name>
        <servlet-class>com.mba.manager.html.services.expirydateanalysis.ExpiryDateAnalysisMonths</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpiryDateAnalysisYears</servlet-name>
        <servlet-class>com.mba.manager.html.services.expirydateanalysis.ExpiryDateAnalysisYears</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockQuantityAnalysis</servlet-name>
        <servlet-class>com.mba.manager.html.services.stockquantityanalysis.StockQuantityAnalysis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HtmlHelp</servlet-name>
        <servlet-class>com.mba.manager.html.help.HtmlHelp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginChecker</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainHandlerServlet</servlet-name>
        <url-pattern>/MainHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemListGetter</servlet-name>
        <url-pattern>/ItemList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemCategoryGetter</servlet-name>
        <url-pattern>/ItemCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Example</servlet-name>
        <url-pattern>/example</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/htmlmanagerlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/htmlmanagerlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryAdder</servlet-name>
        <url-pattern>/htmlcategorysalesanalysismenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategorySalesAnalysisDaily</servlet-name>
        <url-pattern>/htmlcategorysalesanalysisdaily</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategorySalesAnalysisMonthly</servlet-name>
        <url-pattern>/htmlcategorysalesanalysismonthly</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategorySalesAnalysisYearly</servlet-name>
        <url-pattern>/htmlcategorysalesanalysisyearly</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PSACategoryAdder</servlet-name>
        <url-pattern>/htmlproductsalesanalysismenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PSAItemAdder</servlet-name>
        <url-pattern>/htmlproductsalesanalysisitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSalesAnalysisDaily</servlet-name>
        <url-pattern>/htmlproductsalesanalysisdaily</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSalesAnalysisMonthly</servlet-name>
        <url-pattern>/htmlproductsalesanalysismonthly</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSalesAnalysisYearly</servlet-name>
        <url-pattern>/htmlproductsalesanalysisyearly</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueGeneratedDaily</servlet-name>
        <url-pattern>/htmlrevenuegenerateddaily</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueGeneratedMonthly</servlet-name>
        <url-pattern>/htmlrevenuegeneratedmonthly</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueGeneratedYearly</servlet-name>
        <url-pattern>/htmlrevenuegeneratedyearly</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZeroSalesAnalysis</servlet-name>
        <url-pattern>/htmlzerosalesanalysisdaily</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZeroSalesAnalysisTillDate</servlet-name>
        <url-pattern>/htmlzerosalesanalysistilldate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeDeliveryAnalysisDaily</servlet-name>
        <url-pattern>/htmlhomedeliveryanalysisdaily</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeDeliveryAnalysisMonthly</servlet-name>
        <url-pattern>/htmlhomedeliveryanalysismonthly</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeDeliveryAnalysisYearly</servlet-name>
        <url-pattern>/htmlhomedeliveryanalysisyearly</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EDACategoryAdder</servlet-name>
        <url-pattern>/htmlexpirydateanalysismenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpiryDateAnalysisDays</servlet-name>
        <url-pattern>/htmlexpirydateanalysisdays</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpiryDateAnalysisMonths</servlet-name>
        <url-pattern>/htmlexpirydateanalysismonths</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpiryDateAnalysisYears</servlet-name>
        <url-pattern>/htmlexpirydateanalysisyears</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockQuantityAnalysis</servlet-name>
        <url-pattern>/htmlstockquantityanalysisdaily</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HtmlHelp</servlet-name>
        <url-pattern>/htmlhelp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/Manager/Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
